@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --violet: #7562e0;
  --dark: #625c7e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0px 100px;
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.nav_right ul{
  list-style: none;
  display: inline;
}

.nav_right ul li{
  display: inline;
  margin-left: 10px;
}
li:hover{
  color: #7562e0;
}
.nav_left a{
  text-decoration: none;
  color: #7562e0;
}
.partenaires{
  background-color: #fafcfe;
  padding: 2rem 200px;
}

.partenaires_img{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.partenaires_img img{
  margin-right: 10px;
  margin-bottom: 10px;}



.container {
  display: flex;
  margin-top: 2rem;
  height: 500px;
  padding: 1rem 0.25rem;
  /* border: 1px solid red; */
}
.container--left {
  width: 30%;
  /* border: 1px solid red; */
  position: relative;
}

.container--right {
  width: 70%;
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding: 1rem 1rem;
}

.experience__title h1 {
  color: var(--violet);
}
.experience__details {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 300px;
  margin-top: 3rem;
  padding: 1rem 0.25rem;
}

.skills {
  width: 31%;
  /* border: 1px solid red; */
  border-radius: 1rem;
  box-shadow: 0px 0px 12px -5px rgb(0 0 0.18);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.skills i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.skills div {
  color: #7562e0;
}

.skills:hover {
  background-color: #7562e0;
  transform: scale(1.05);
}

.skills:hover div {
  color: white;
}
.skills p {
  color: white;
}

.skills div h2 {
  transition: ease-in-out 0.3s;
}

.skills i {
  transition: ease-in-out 0.3s;
}
.fas fa-quote-right{
  color: grey;
}

.skills:hover i {
  transform: rotateZ(360deg);
}
.skills:hover div h2 {
  margin-bottom: 1.5rem;
}

.big--title {
  color: var(--violet);
  font-size: 7rem;
  margin-bottom: 1rem;
}
.content {
  position: absolute;
  right: 2rem;
}

.explore
{
    display: flex;
    justify-content: space-between;
}

.explore_left{
    color: #7562e0;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.explore_right p{
    color: #625c7e;
    margin-bottom: 1rem;
    
 
}


.container__images {
    margin-top: 2rem;
    height: 700px;
  }

  .container__line {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .item {
    width: 31%;
    height: 300px;
    overflow: hidden;
  }

  .item img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: ease-in-out 3s;
  }

  .item img:hover {
    transform: translateY(calc(-100% + 300px));
  }

  .vainqueurs{
      display: flex;
  }
  .vainqueurs_right{
    margin-left: 2rem;
    width: 100%;
  }
  .vainqueurs_right h1{
    margin-left: 1rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #7562e0;
    margin-top: 0;
  }

  .vainqueurs_right p{
    font-family: "Montserrat", sans-serif;
    color: #625c7e;
    text-align: justify;
  }

  .button_google{
    text-align: center;
    margin-top: 1rem;
  }
  .vainqueurs_left img{
    border-radius: 1rem;
    width: 100%;
  }
  .testimonials{
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
    
  }

.testi{
display: flex;
flex-direction: column;
 /* height: 300px; */
 /* width: 31%; */
 box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
 text-align: center;
 margin-left: 1rem;
}

.testi img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #7562E0;
  margin-top: 1rem;
}

.testi p{
  font-size: 17px;
  margin: 20px 0;
  color: var(--violet);
}
.testi span{
  font-size: 17px;
  color: #ccc;
}

.testi:hover {
  transform: scale(1.05);
}


.testi i{
  color: #7562e0;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 60px;
  transition: all .3s ease-in-out;
}
